# Grafana token
token = ""

headers = {"Authorization": "Bearer {}".format(token), 'Accept': 'application/json', 'Content-Type': 'application/json'}
url_api = 'http://grafana-staging/api'
proxy = {}

default_datasource_url = 'http://graphite-islogs'
default_datasource_name = 'graphiterep'

# list of dashboards for checking
dash_list = ['Netflix', 'Netflix Copy']

# proxy
proxy = {'socks5h': 'http://127.0.0.1:8800'}

# logging level
log_level = 'DEBUG'
