# Grafana admin (editor) token
token = ""

# application/x-ndjson
headers = {"Authorization": "Bearer {}".format(token),
           'Accept': 'application/json',
           'Content-Type': 'application/x-www-form-urlencoded'}

# grafana STAGING
# url_api = 'http://viepgrfpe12/api'

# garafana PROD
url_api = 'http://viepgrfpe13/api'


# STAGING graphite datasource
# default_datasource_url = 'http://graphite-islogs'
# default_datasource_name = 'graphiterep'

# PROD graphite datasource
default_datasource_url = 'http://graphite-vie'
default_datasource_name = 'graphiterep'

# list of dashboard names
# STAGING
# dash_list = ['Netflix', 'Netflix Copy']
# PROD
dash_list = ['HorizonGO-pl',
             'cdn-ott-pl',
             'dawn-cz',
             'dawn-pl',
             'fabrix-origins-managers-nl',
             'helios',
             'horizongo-all',
             'horizon-de',
             'horizongo-at',
             'horizongo-ch',
             'horizongo-cl',
             'horizongo-de',
             'horizongo-pr',
             'horizongo-uk',
             'horizongo360-be',
             'horizongo360-ch',
             'horizongo360-nl',
             'nds-nl',
             'noc-nl',
             'oesp-prod',
             'smartrec-nl',
             'traxis-pl',
             'vspp-nl']

# proxy = {'socks5h': 'http://127.0.0.1:8800'}
proxy = {}

log_level = 'INFO'
